body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: georgia, serif;
  background-color: #C2C1C1;
}

.inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  height: 100vh;
  width: 680px;
  background-color: #fff;
}

.header {
  margin-top: 0px;
  text-align: center;
}

.input {
  width: calc(10rem - 0.175rem - 2px);
  border: 1px solid rgb(169, 169, 169);
  height: calc(1.5rem - 4px);
  border-radius: 5px;
  padding-left: 0.175rem;
}

.select {
  width: 10rem;
  height: 1.5rem;
  border-radius: 5px;
}

.button {
  align-self: flex-end;
  background-color: #ffcf6c;
  width: 10rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(169, 169, 169);
}

.button, .input, .select, .link {
  outline: none;
}

.button:focus, .input:focus, .select:focus {
  box-shadow: 2px 2px 2px 1px #666;
}

.link:focus {
  box-sizing: content-box;
}

.button:not([disabled]):hover {
  background-color: #ffb928
}

.group--locale {
  position: fixed;
  right: 1.5rem;
  top: 0;
}

.select--locale {
  width: 2.5rem;
}

.generator-options {
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 560px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  align-items: stretch;
  height: 95vh;
  max-width: 560px;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  padding-bottom: 0.625rem;
}

.generated-code {
  resize: none;
  height: 40rem;
  width: calc(35rem - 4px - 1.6px);
}

.CodeMirror {
  height: 70vh;
}

.reference-block {
  position: fixed;
  right: 1.5rem;
  top: 2rem;

  height: 22rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  
  z-index: 9999;
}

.reference {
  transition-property: all;
  transition-duration: 0.5s;

  background-color: #fff;
  border-style: solid;
  border-color: #666;
  border-radius: 10px;

  width: 25.5rem;
  height: 20rem;
  padding-left: 10px;
}

.hidden {
  display: none;
}

.button--reference {
  position: relative;
  top: 0;
  right: 0;
}

