.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input {
  width: calc(10rem - 2px);
  border: 1px solid rgb(169, 169, 169);
}

.header {
  margin-top: 0px;
  text-align: center;
}

.select {
  width: 10rem;
}

.button {
  align-self: flex-end;
  width: 10rem;
  height: 1.5rem;
}

.reference {
  transition-property: all;
  transition-duration: 2s;
  transition-duration: 1s;
  transition-timing-function: ease;
  
  position: fixed;
  right: 5rem;
  bottom: 0;
  
  border: 3px ridge #CCC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  
  width: 7rem;
  height: 2rem;
  background-color: #EEE;
  /*opacity: 0.05;*/

  z-index: 9999;
}

.reference:hover {
  transition-property: all;
  transition-duration: 2s;
  transition-duration: 1s;
  transition-timing-function: ease;
  
  width: 25rem;
  height: 20rem;
  padding-left: 10px;  
  height: 25rem;
  padding-left: 10px;
}

.article--reference {
  transition-property: all;
  transition-duration: 0.5s;
  
  opacity: 0.0;
}

.reference:hover .article--reference {
  transition-property: all;
  transition-delay: 1s;

  opacity: 1.0;
}

.algorithms {
  margin-left: 0.05rem;
}


.generator-options {
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 560px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
  align-items: stretch;
  height: 95vh;
  max-width: 560px;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  padding-bottom: 0.625rem;
}

.generated-code {
  resize: none;
  height: 40rem;
  width: calc(35rem - 4px - 1.6px);
}

.CodeMirror {
  height: 70vh;
}
