.reference {
  //position: fixed;
  right: 1.5rem;
  margin: auto;
  width: 200px;
  height: 700px;
  font-family: georgia, serif;
}

.reference-block {
  width: 200px;
  height: 700px;  
}

.back-block {
  display: block;
  position: fixed;
  right: 2.5rem;
  //top: 1.5rem;
}

.link--back,
.link--back:link,
.link--back:visited,
.link--back:hover,
.link--back:active {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.link--back:hover {
  text-decoration: underline;
}

.link {
  outline: none;
}
